<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내 정보 수정</title>
    <link rel="stylesheet" href="./mypage_edit_profile.css">
    <link rel="stylesheet" href="../common/commonpage.css"/>
    <link rel="stylesheet" href="../common/reset.css">
  </head>
  <body>
    <!-- 헤더 -->
    <header>
    <!-- 왼쪽 로고 -->
    <div class="logo">
        <img src="../../image/KH_logo.png" width="50" alt="KH로고">도서관
    </div>

    <!-- 가운데 네브 -->
    <nav class="main-nav">
        <a href="#">대출신청</a>
        <a href="#">희망도서신청</a>
        <a href="#">도서관 이용안내</a>
        <a href="#">공지사항</a>
    </nav>

    <!-- 오른쪽 네브 -->
    <nav class="user-nav">
        <a href="#">홈</a>
        <a href="#">로그아웃</a>
        <a href="#">마이페이지</a>
    </nav>
    </header>
    <div class="layout">
      <!-- 좌측 배너 -->
      <div class="left-banner">
        <h3>마이페이지</h3>
        <a href="#">내 정보 수정</a>
        <hr />
        <a href="#">대출 조회</a>
        <hr />
        <a href="#">희망 도서 신청 조회</a>
        <hr />
        <a href="#">회원 탈퇴</a>
        <hr />
      </div>

      <!-- 본문 -->
      <main class="content">
        <h1>내 정보 수정</h1>
        <table>
          <tr>
            <th>이름</th>
            <td>홍길동</td>
          </tr>
          <tr>
            <th>아이디</th>
            <td>xxxx1234</td>
          </tr>
          <tr>
            <th>비밀번호</th>
            <td><input type="password" class="edit_profile" /></td>
          </tr>
          <tr>
            <th>비밀번호 확인</th>
            <td><input type="password" class="edit_profile" /></td>
          </tr>
          <tr>
            <th>이메일</th>
            <td><input type="text" class="edit_profile" /></td>
          </tr>
          <tr id="edit_address">
            <th>주소</th>
            <td>
              <textarea class="edit_profile" id="input_edit_address"></textarea>
            </td>
          </tr>
          <tr>
            <th>연락처</th>
            <td><input type="text" class="edit_profile" /></td>
          </tr>
        </table>
        <div class="btn_wrap">
          <button class="btn" id="cancleBtn">취소</button>
          <button class="btn" id="editBtn">회원 정보 수정</button>
        </div>
      </main>
    </div>
    <!-- 푸터 -->
    <footer>
    <div class="footer-container">
    <!-- 왼쪽 -->
    <div class="footer-left">
        <img src="../../image/KH_logo.png" width="40" alt="KH도서관 로고">
        <div class="footer-text">
        <div class="top-line">
            <strong>KH도서관</strong>
            02742 서울특별시 중구 장충제일로 212 | TEL 02-2412-1113
        </div>
        <div class="bottom-line">
            Copyright(c) KH Library. All Rights Reserved
        </div>
        </div>
    </div>

    <!-- 가운데 -->
    <div class="footer-center">
        <img src="../../image/KOGL.jpg" width="80" alt="공공누리">
        <img src="../../image/" width="40" alt="OPEN">
        <img src="../../image/" width="40" alt="서비스마크">
    </div>

    <!-- 오른쪽 -->
    <div class="footer-right">
        <a href="#"><img src="../../image/korea.png" width="28" alt="한국"></a>
        <a href="#"><img src="../../image/youtube.png" width="28" alt="유튜브"></a>
        <a href="#"><img src="../../image/instagram.png" width="28" alt="인스타그램"></a>
        <a href="#"><img src="../../image/facebook.png" width="28" alt="페이스북"></a>
        <a href="#"><img src="../../image/X.png" width="28" alt="X"></a>
    </div>
    </div>
</footer>
  </body>
</html>
